.card{
    margin: .5rem;
}
#text {
    display: none;
    margin: 0;
}
#button{
    margin: 1rem;
}





#material-tabs {
    position: relative;
    display: block;
    padding:0;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
}

#material-tabs>a {
    position: relative;
    display:inline-block;
    text-decoration: none;
    padding: 22px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #424f5a;
    text-align: center;
}

#material-tabs>a.active {
    font-weight: 700;
    outline:none;
}

#material-tabs>a:not(.active):hover {
    background-color: inherit;
    color: #7c848a;
}

@media only screen and (max-width: 520px) {
    .nav-tabs#material-tabs>li>a {
        font-size: 11px;
    }
}

.yellow-bar {
    position: absolute;
    z-index: 10;
    bottom: 0;
    height: 3px;
    background: #458CFF;
    display: block;
    left: 0;
    transition: left .2s ease;
    -webkit-transition: left .2s ease;
}

#tab1-tab.active ~ span.yellow-bar {
    left: 0;
    width: 160px;
}

#tab2-tab.active ~ span.yellow-bar {
    left:165px;
    width: 82px;
}

#tab3-tab.active ~ span.yellow-bar {
    left: 253px;
    width: 135px;
}

#tab4-tab.active ~ span.yellow-bar {
    left:392px;
    width: 163px;
}

.tab-content {
    background: #ededed;
}