.card{
    margin: .5rem;
}
#text {
    display: none;
    margin: 0;
}
#button{
    margin: 1rem;
}



ul.tabs{
    margin: 0px;
    padding: 0px;
    background: #cb0c2e;
    color: #dfdfdf;
    list-style: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
ul.tabs li{
    background: none;
    color: #dfdfdf;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #c00b2c;
    color: #dfdfdf;

}

.tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.tab-content.current{
    display: inherit;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.scrollbar {
    overflow-x: auto;
    height: 80vh;

}