
@charset "utf-8";
@media only screen and (max-width: 600px) {
    #sideBarToggle{
      display: block;
    }
}

#sideBarToggle{
    display: block;
}
body {
    font-size: 120%;
    /*background-image:url('../images/bg.png');*/
    background-size:100%;
    background-repeat:no-repeat;
    background-color: #c3b8c5;
}

* {
    margin: 0px;
    padding: 0px;
}


#profile-image {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    float: left;
}

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 98, 103);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 67, 63);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 19, 32, 0.7);
}

.cart-container{
    background-color: rgb(6, 45, 42);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card{
    margin: .5rem;
}
.title{
    font-size: 2rem;
    margin: 1rem;
}
.scrollbar-cart{
    overflow-y: auto;
    overflow-x: hidden;
    height: 80vh;
    width: 27rem;
}



.Login-Form{
    min-width: 40vw;
    max-width: 60vw;
    color: white !important;
    padding: 20px;
    margin: auto;
}
.login-shadow{
    background: rgba(26,26,26,0.5);
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
.lead{
    color: #f0e9f8;
}
#title2{
    text-align: center;
    font-size: 4rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}


.copyrightLoginSite {
    position: absolute;
    top: 100vh;
}
.copyrightLoginSiteText{
    text-align: center;
    color: #dfdfdf;

}
body {
    margin: 0;
}

.item-template{
    margin-top: -17px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.hasevent{
    background-color: rgba(0,170,231,0.1);
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: -30px;
    padding-top: 30px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 30px;
}
.italic {
    font-style: italic;
}

.k-editor-toolbar, .k-gantt-toolbar, .k-scheduler-footer, .k-scheduler-toolbar, .k-spreadsheet-sheets-bar, .k-toolbar {
    color: #fff;
    background-color: #009c93 !important;
    border-color: #f5f5f5;
}


.sidebar{
    background-color: rgb(26, 30, 28);
    height: 90vh;
    width: 1rem;
    float: left;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    z-index: 1;
    --webkit-clip-path: polygon(50% 0%, 100% 0, 100% 32%, 100% 55%, 100% 88%, 0 100%, 0 100%, 0 59%, 0 0, 8% 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 32%, 100% 55%, 100% 88%, 0 100%, 0 100%, 0 59%, 0 0, 8% 0);
}
#sidebarcontent{
    display: none;
}
.catalog-container{
    margin-top: .5rem;
    background-color: rgb(208, 208, 208);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 1rem;
}


.Item-list{
    margin-top: .5rem;
    background-color: rgb(208, 208, 208);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 1rem;
    overflow-y: auto;
}
.bmd-label-floating{
    color: #5863ab;
}
.btn{
    margin-top: 0.5rem;
}
.form-control{
    color: #6875cb;
}
::placeholder{
    color: #6875cb;
}

 textarea:focus, input:focus {
    color: #6875cb !important;
}
select:focus{
    color: #6875cb !important;
}
