
@charset "utf-8";
@media only screen and (max-width: 600px) {
    #sideBarToggle{
      display: block;
    }
}

#sideBarToggle{
    display: block;
}

body {
    color: white;
}
*{
    color:black;
}
h1, h2, h3 {
  color: black ;

}
p {
    color: black;
}
nav {
    background-coler: white;
}
nav.navside{
    background-color: rgba(0,0,0, 50);
}

.layer1{
    display: block;
}
 .layer2{
    display: none;

}
.headerAdmin {
  background: #003366;
}
button[name=register_btn] {
  background: #003366;
}
