

.sidebar{
    background-color: rgb(24,24,24);
    height: 90vh;
    width: 1rem;
    float: left;
    position: absolute;
    z-index: 1;
    --webkit-clip-path: polygon(50% 0%, 100% 0, 100% 32%, 100% 55%, 100% 88%, 0 100%, 0 100%, 0 59%, 0 0, 8% 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 32%, 100% 55%, 100% 88%, 0 100%, 0 100%, 0 59%, 0 0, 8% 0);
}
#sidebarcontent{
    display: none;
}



